{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список граждан РФ</title>
    <link href="{% static "main/info.css" %}" rel="stylesheet">
</head>
<body>
    <div id="search">
        <form method="get" action="/">
        <input name="search" type="text">
        <input type="submit" value="Найти">
    </form>
    </div>
    <table>
        <tr>
          <th>ФИО</th>
          <th>Серия паспорта</th>
          <th>Номер паспорта</th>

        </tr>
        {% for person in persons %}
            <tr>
                <th>{{ person.first_name }} {{ person.last_name }} {{ person.patronymic }}</th>
                <th>{{ person.passport_series }}</th>
                <th>{{ person.passport_number }}</th>
            </tr>
        {% endfor %}
    </table>

</body>
</html>